@import './base.css';

#app {
    height: 100vh;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow: hidden;
}

.w-25 {
    width: 25%;
}

.content {
    height: 90%;
}

.hide {
    display: none;
}


/* espacio para los estilos */
aside {
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1.5em;

    padding: 1.5%;
    height: 100%;
}

main {
    background: #393534;
    margin: 5px 5px 5px 12.7%;
    width: 100vw;
    height: fit-content;
    border-radius: 30px 0px 0px 30px;
    z-index: 100;
}

.clientes-destacados {
    margin: 5% 0;
    height: 95% !important;
}

.container-main {
    width: 100vw;
    height: 98.7vh;
    padding: 1% 1% 1% 1%;
}

.accordion-button:not(.collapsed) {
    color: #b4b0af !important;
    background-color: #393534;
    /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
}

.accordion-button::after {

    background-image: url(../assets/img/arrow.png) !important;
}

.accordion-body {
    padding: .5rem !important;
}

.accordion-button {
    background-color: #393534 !important;
    border-radius: 7px !important;
}

.accordion-item {
    border-radius: 7px !important;
    background-color: #b4b0af10 !important;
}

.accordion-button:focus {
    border-color: #b4b0af !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(84, 84, 84, 0.48) !important;

}

.container-top {
    height: 5.5%;
    display: flex;
    gap: 2%;
}

.h-100 {
    height: 100%;
}

hr,
.form-data {
    margin: 0 1rem;
}



.form-data {
    padding: 1.5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-select {
    background-image: url(../assets/img/arrow.png) !important;
    background: transparent no-repeat right 0.75rem center;
    color: white;
    border: solid 1px #767676;
}

option {
    color: #212529;
}

.form-select:focus,
.form-control:focus {
    border-color: #b4b0af;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #5454547a;
}

.form-control,
.form-control:focus {
    color: white !important;
    border: none;
    background: #403C3B;
}

.form-2 {
    width: 60% !important;
}

.input-container {
    width: 48%;
}

.load {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.wp {
    flex-wrap: wrap;
}

.sp-bet {
    justify-content: space-between;
}

.buttons-reservacion {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-image: url(../../assets/img/calendar.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-image: url(../../assets/img/time.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.width-auto {
    width: auto;
}

.width-35 {
    width: 35%;
}

.width-32 {
    width: 32%;
}

.input-container-3 {
    width: 31%;
}

.mb-9vh {
    margin-bottom: 9vh;
}

.padding-buttons {
    padding: .8% 5% !important;
}

.mb-17vh {
    margin-bottom: 17vh !important;
}

.mb-36vh {
    margin-bottom: 36vh !important;
}

.align-center {
    align-self: center;
}

.switch-options {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.form-check-input:checked {
    background-color: #393534;
    border-color: #393534;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    border-color: #b4b0af;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(84, 84, 84, 0.48);
}

.form-check-input {
    background-color: #393534;
    border-color: #393534;
}

.makers-switch {
    background-repeat: no-repeat;
}

.mb-24-2vh {
    margin-bottom: 24.2vh;
}

.router-view {
    height: 90%;
    position: relative;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 98%;
}

.form-control[type=file]:disabled {
    background-color: #403C3B;
}

.form-control[type=file]:hover {
    cursor: pointer;
}

.tipos {
    background: #231F1E;
    padding: .7% .9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.top {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servicios {
    background: #231F1E;
    padding: 0 .5%;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.component-servicio {
    border-radius: 7px;
}

.msm-container {
    width: 50%;
}

.btn-makers {
    background: #393534;
    color: white;
}

.btn-makers:hover {
    background: #504c4a;
}

.btn-makers:active {
    border-color: #b4b0af !important;
    color: #b4b0af !important;
}

.login-container {
    border: solid 2px #676767;
    background-color: #2c2828;
    border-radius: 7px;
    height: 75%;
}

.items-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.children-form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.href-makers {
    color: #909090;
    cursor: pointer;
}

.buttons-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.func {
    gap: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.msg {
    position: absolute;
}

.img-producto {
    aspect-ratio: 2/2;
    object-fit: contain;
    width: 6vw;
    border-radius: 7px;
    border: solid 1px #b4b0af;
}

.img {
    display: block !important;
}

.h-91,
.h-100 {
    overflow-x: hidden;
    overflow-y: auto !important;
}

#container-gif {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gif {
    width: 25%;
}

.container-restablecer {
    width: 50% !important;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: FadeIn .5s ease 0s 1 normal forwards;
}

.factura-pedidos {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3%;
}

.report {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-reports {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 725px) {
    .login {
        flex-direction: column;
    }

    .func,
    .form {
        height: 50%;
        width: 100% !important;
    }
}

@media screen and (max-width: 930px) {
    main {
        margin-left: 8vw;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-right: 0 !important;
        margin-left: 0 !important;
        max-width: 100% !important;
    }

    div.form-data>span.bold {
        display: none;
    }

    .img-producto {
        width: 9vw;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .container>.buttons-reservacion {
        gap: 2%;
    }

    .container-restablecer {
        width: 100% !important;
    }

    .fila>.cliente {
        max-width: 100% !important;
        width: 100% !important;
    }

    .container-main {
        padding: 1% !important;
        height: 100%;
    }

    .container-sidebar {
        flex-direction: row;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }


    .li-lista {
        border-radius: 7px !important;
    }

    .container {
        margin-bottom: -8%;
    }

    .content {
        gap: 10vw !important;
        margin-top: 8vh !important;
        height: 90% !important;
    }

    .h-86 {
        height: 89.8% !important;
    }

    aside {
        top: 90%;
        width: 100%;
        height: 11%;
        z-index: 500;
        overflow: hidden;
    }

    .logo-sidebar {
        display: none;
    }

    .ul-lista {
        display: flex;
        flex-direction: row;
        gap: 20%;
        margin: 0 20px;
        width: 100%;
        overflow: auto;
    }

    main {
        width: 100%;
        height: 90%;
        margin: 1%;
        border-radius: 30px;
    }

    .user-icon {
        width: 30%;
    }

    .container-area-2-3,
    .container-area-4-5,
    .container-area-8-9 {
        flex-direction: column;
    }

    .area-2,
    .area-3,
    .area-4,
    .area-5,
    .area-8,
    .area-9 {
        width: 100% !important;

    }

    body.swal2-toast-shown .swal2-container.swal2-top-end,
    body.swal2-toast-shown .swal2-container.swal2-top-right,
    .swal2-container.swal2-center>.swal2-popup {
        width: 55vw !important;
    }


    .swal2-popup.swal2-toast.swal2-show {
        font-size: smaller;
    }

    .btn-makers {
        font-size: smaller !important;
    }

    .form-data {
        margin: 0 !important;
    }

    .buttons-servicio {
        position: relative !important;
    }

    .form-2 {
        width: 100% !important;
    }

    .form-2>.load {
        flex-direction: column;
    }

    .load>.input-container,
    .load>.input-container-3,
    .form-data>.w-70,
    .width-32,
    .input-container {
        width: 100% !important;
    }

    .fila>.card-buttons {
        width: 30% !important;
    }

    .fila {
        flex-direction: column;
    }

    .img-producto {
        width: 25vw;
    }
}

@media screen and (max-width: 992px) {

    .load>.input-container,
    .load>.width-32,
    .load>.input-container-3,
    .load>.w-25,
    .form-data>.w-70,
    .form-data>.form-2 {
        width: 100% !important;
    }

    .fila>.factura,
    .fila>.productos {
        display: block !important;
    }

    .fila>.sucursal {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40vw;
    }

    .fila>.cliente {
        width: 33%;
    }


    .fila>.fecha-orden {
        width: 19%;
    }

    .component-servicio {
        overflow-x: hidden;
        overflow-y: auto;
    }

    body.swal2-toast-shown .swal2-container.swal2-top-end,
    body.swal2-toast-shown .swal2-container.swal2-top-right {
        width: 35vw !important;
    }

    .swal2-popup.swal2-toast.swal2-show {
        font-size: smaller;
    }

    .content>.h-86 {
        height: 91%;
    }

    .fila>.col-md-1 {
        display: none;
    }

    .col-md-4>span.smaller {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .fila>.cliente {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 33%;
    }

    .fila>.col-md-2 {
        width: 22%;
    }

    .fila>.more-info {
        width: 33%;
    }

    .existencias {
        width: 30%;
    }

    .buttons-top {
        width: 28%;
    }
}

/* estilos por defecto de vue */
/* #app {

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */